body {
	padding-top: 70px;
	background-color: #58585a;
	/*
	background:url("../img/winter.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	*/
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.thumbnail{
	
  background-position: center;
  border:none;
}


img.resize4{

    width: 640px;
    height: 500px;
}

h1, h2, h3, h4{
	color: #EB6909;
}

a {
	color: #EB6909;
}
a:hover, a:focus {
	color: #C4551C;
}

.footer {
	/*margin-top: 30px;*/
	text-align: center;
	width: 100%;
}

.panel-khaos-footer {
	background-color: #222;
	border-color: #222;
}

.panel-khaos-footer > .panel-body {
	color: #EEE;
}

img.resize {
  
   width: 100%;
   height: 400px;
   display: block;
   margin: 0 auto;
   background-size: cover;
   background-image: url('references2.png');
}

img.resize2 {
	
	width: 55%;
   	height: 60%; 
   	margin-left: auto;
   	margin-right:auto;	
   	display: block;
}

img.medium-size {
	width: 80%;
	margin-left: auto;
	margin-right:auto;
	display: block;
}

img.medium-size2 {
	width: 90%;
	margin-left: auto;
	margin-right:auto;
	display: block;
}


img.resize3 {
	width: 100%;
 	margin-left:auto;
   	margin-right:auto;	
   	display: block;
}

img.resize4 {
	width: 90px;
 	height: 2%;
   	margin-right:auto;	
   	display: block;
}

div#mas {
	background-position:right 2px;
	padding-left:50px;
	padding-right: 20px; 
	position:relative;
	float:right; 
	cursor:pointer;
}


figcaption.textCaption{
	
	text-align: center;
	font-family: serif;
	
}

.carousel {
	max-width: 868px;
	margin: 0 auto;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
}

.carousel-caption > p {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3.thickerandblack{
	font-weight: 900;
    color:#3f0808;
}

p.text{
	
	font-weight: 900;
}

p.thickerandblack {
    font-weight: 900;
    color:#3f0808;  
}

.dl-horizontal dt{
	
	width: 80px;
	
}

.dl-horizontal dd{
	
	margin-left: 100px;
	
}

.nav-justified{
	
	background-color:#dae1e0;
} 

/*
.nav a{
    font-size: 1.45em !important;
}
*/
 
input.form-fixer {
    padding: 1px;
    font-size: 19px;
}

/*
.form-group input{ 
    height: 25px;
    line-height: 14px;
}
*/
 
.spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}

.form-group-dependant {
    padding-left: 20px;
    border-left: dotted 1px grey;
}

.form-group-dependant > .label-dependant {
	margin-bottom: 5px;
	padding-top: 0px;
}

#swagger-ui h2.title pre {
	padding: 0px;
	background-color: transparent; 
    border: transparent;
}

/* BUTTONS */
.btn-default {
	color: #EB6909;
	background-color: #fff;
	border-color: #EB6909;
}
.btn-default:active, .btn-default:hover,
.btn-default:focus,
.btn-default.active.focus, .btn-default.active:focus,
.btn-default.active:hover, .btn-default:active.focus,
.btn-default:active:focus, .btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
	background-color: white;
	background-color: #e6e6e6;
	color: #EB6909;
	border-color: #EB6909;
}
.btn-primary {
	color: #fff;
	background-color: #EB6909;
	border-color: #AD430C;
}
.btn-primary:active, .btn-primary:hover,
.btn-primary:focus,
.btn-primary.active.focus, .btn-primary.active:focus,
.btn-primary.active:hover, .btn-primary:active.focus,
.btn-primary:active:focus, .btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
	color: #fff;
	background-color: #C4551C;
	border-color: #AD430C;
}
.btn-primary.disabled.focus, .btn-primary.disabled:focus,
.btn-primary.disabled:hover, .btn-primary[disabled].focus,
.btn-primary[disabled]:focus, .btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
	background-color: #C4551C;
	border-color: #AD430C;
}
.btn-link {
	color: #EB6909;
}
.btn-link:focus, .btn-link:hover {
	color: #C4551C;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
	border-color: #EB6909;
	color: #fff;
	background-color: #C4551C;
}
.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
	border-radius: 3px;
}
.btn-group-label {
	padding-top: 6px;
	font-size: 12px;
	padding-right: 15px;
	padding-left: 15px;
	font-weight: 700;
	display: inline-block;
}

/* TABS */
.nav-tabs {
	background-color: transparent;
}
.nav-tabs>li>a {
	border-width: 0px;
	border-bottom-color: transparent;
	border-bottom-width: 3px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	border-width: 0px;
	border-bottom-color: #EB6909;
	border-bottom-width: 3px;
}

/* GOOGLE CHARTS */
.khaos-chart {
	padding-top: 10px;
}
.khaos-chart .google-visualization-controls-slider-thumb {
	background-color: #EB6909;
	border: 1px solid #AD430C;
}
.khaos-chart .google-visualization-controls-slider-horizontal {
	border: 1px solid #AD430C;
}
.khaos-chart .google-visualization-controls-slider-handle {
	background-color: gray;
}
.khaos-chart .google-visualization-controls-rangefilter-thumblabel {
	color: #333;
}

/* PROTEIN VIEWER */
#inspector {
	box-shadow: 2px 2px 5px #888888;
	border-radius: 8px;
	position: absolute;
	background-color: #fafafa;
	padding: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
}
#inspector ul {
	padding: 0px;
}

#inspector ul li {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	list-style: none;
	cursor: pointer;
	color: #EB6909;
}
#inspector ul li:hover {
	color: #AD430C;
}
