.DS_Store
.classpath
.project
.settings/.jsdtscope
.settings/
.target/
/target/
/.metadata/

*.iml

\.idea/

src/main/resources/docking_service\.properties

src/main/resources/docking_service\.test\.properties
