img.resize {
  
   width: 100%;
   height: 400px;
   display: block;
   margin: 0 auto;
   background-size: cover;
   background-image; url('references2.png');
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
}

.footer-container {
	margin: 10px;
}

.footer {
	 text-align: center;
	 width: 100%;
}

h3.thickerandblack{
	font-weight: 900;
    color:#3f0808;
}

p.text{
	
	font-weight: 900;
}

p.thickerandblack {
    font-weight: 900;
    color:#3f0808;  
}



.nav-justified{
	
	background-color:#dae1e0;
} 

.nav a{
    font-size: 1.45em !important;
}
 



